In [1]:
import numpy as np

In [6]:
#This uses numpy to create an array of random integers between 0 and 9 and returns the 
# result in a list. 
array1 = list(np.random.randint(0,10,100))

In [10]:
# How many times does the number 7 appear in array1?
# Fill this cell in with code which will answer this question by printing a full sentence. 
print("The number 7 appears " + str(array1.count(7)) + " times.")

The number 7 appears 10 times.

##### Run your code above a few times. Do you always get the same answer? Why?
*The answer does not changes because array1 is not changing. It counts the same thing repeatedly*

In [14]:
# Now copy both the definition of array1 and your code from above into this cell. Run it a few times. What changed?
array1 = list(np.random.randint(0,10,100))
print("The number 7 appears " + str(array1.count(7)) + " times.")

The number 7 appears 14 times.

*Now it changes because we are runnig the random number generator repeatedly. Each time generates a new list of numbers*

In [22]:
# This cell defines the variable b at the top. Write code which finds the first index of b in array 1 
# and prints a full sentence showing the result. When you change the value of b, 
# the code should run and produce a correct result. 
b = 8
print("The first time the number " + str(b) + " appears is at index " + str(array1.index(b)))

The first time the number 8 appears is at index 12

In [23]:
# find out what the results of the tests for equality in this cell are and explain each one:
list1 = [1, 1, 1, 1, 1, 1]
list1 == 1
#This is false, because list1 is a list with multiple integers. It is not equal to 1.

False

In [24]:
list1[3] == 1
#This is true. The 4th element of the list is equal to 1

True

In [25]:
list1[3] == "1"
#This is false. This element is equal to the integer 1, not the string "1"

False

In [26]:
str(list1[3]) == "1"
#This is true - if we convert the interger 1 to a string it will equal "1"

True

In [27]:
str(list1[1]) == 1
#This is false. Once we convert 1 to a string, it is no longer equal to 1

False

In [28]:
len(list1) == 6
#This is true because the list has 6 elements

True

In [29]:
#write as concise a statement as you can to produce the following. 
# Note that "7th" is meant in its usually english sense, 
# not as a python index number. 

#the 7th element of array1
array1[6]

5

In [32]:
#a list containing the 23rd through 32nd elements of array1
array1[22:32]

[3, 1, 9, 2, 8, 9, 3, 9, 2, 6]

In [33]:
#a list containing all the even numbered elements of array1
array1[::2]

[7,
 0,
 0,
 5,
 4,
 0,
 8,
 0,
 7,
 4,
 9,
 3,
 9,
 8,
 3,
 2,
 3,
 2,
 8,
 2,
 3,
 7,
 6,
 2,
 7,
 1,
 6,
 6,
 6,
 0,
 2,
 8,
 1,
 3,
 4,
 4,
 2,
 0,
 0,
 6,
 6,
 6,
 5,
 0,
 1,
 6,
 4,
 7,
 1,
 0]

In [34]:
#a list containing all the odd numbered elements of array1
array1[1::2]

[2,
 7,
 7,
 9,
 7,
 6,
 3,
 3,
 1,
 8,
 5,
 1,
 2,
 9,
 9,
 6,
 2,
 7,
 4,
 6,
 1,
 5,
 0,
 7,
 0,
 6,
 9,
 1,
 8,
 7,
 6,
 2,
 4,
 6,
 1,
 5,
 3,
 0,
 9,
 7,
 4,
 4,
 7,
 7,
 9,
 2,
 4,
 8,
 6,
 4]

In [35]:
#a list containing the last 9 elements of array1 
array1[-9:]

[2, 4, 4, 7, 8, 1, 6, 0, 4]

In [37]:
#a list containing the first 17 elements of array1
array1[:17]

[7, 2, 0, 7, 0, 7, 5, 9, 4, 7, 0, 6, 8, 3, 0, 3, 7]

In [38]:
#for the last one, write a line of code which confirms that the 3rd element of the new list has the 
# same value as the 3rd element of array1. 
array1[:17][2]==array1[2]

True

In [40]:
# define any two lists you like and add them together with the + operator. Pick one and multiply it by 4 (*4). 
# explain what each operation does? Are there other operations
# that would make sense to assign to list addition or multiplication?
list1 = [2, 3, 7, "string1", 3.3]
list2 = [ [3,4], "string2", 3.3, "string3"]
list1+list2
#This combines the two lists into one long list

[2, 3, 7, 'string1', 3.3, [3, 4], 'string2', 3.3, 'string3']

In [42]:
4*list1
#This produces a new list with the elements of list1 repeated 4 times. 
#For numbers, you might want to have the addition actually add the corresponding values together or for strings perform
#string concatenation with these elements. We have seen this is possible with numpy arrays.

[2,
 3,
 7,
 'string1',
 3.3,
 2,
 3,
 7,
 'string1',
 3.3,
 2,
 3,
 7,
 'string1',
 3.3,
 2,
 3,
 7,
 'string1',
 3.3]